<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sachin.testsolve">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- API Key  ccdecee52ed399fea8315ab40bc781c1 -->
    <!--API Read Access Token (v4 auth)   eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjY2RlY2VlNTJlZDM5OWZlYTgzMTVhYjQwYmM3ODFjMSIsInN1YiI6IjU5NmY4YThkYzNhMzY4NmI1YTAxYzRhMSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.VvpXhcTfEAr_sOrfxtELUAA2f1l_zM_c80oqTbUrpXs
-->
    <!--Example API Request https://api.themoviedb.org/3/movie/550?api_key=ccdecee52ed399fea8315ab40bc781c1 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NavigationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      </application>

</manifest>